body{
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin: 40px auto;
    width: 420px;
}
.row{
    display: flex;
    gap: 9px;
}
button{
    flex: 1;
    height: 50px;
    background-color: rgb(67, 67, 67);
    border-radius: 15px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    border-style: none;
}
.operator, .equal{
    background-color: orange;
}

.display {
    height: 25px;
    font-size: 45px;
    color: aliceblue;
    font-weight: bold;
}
.clear, .delete{
    background-color: rgba(40, 40, 40, 0.6);
}
